{% extends 'base.html' %} 

{% block content %} 
<div class="max-w-6xl mx-auto mt-10 px-6">
    <h1 class="text-3xl font-extrabold mb-8 text-slate-800 tracking-tight">
        Hello, <span class="text-blue-600">{{ user.username }}</span>!
        {% if user.is_staff %}
            <span class="text-sm bg-blue-100 text-blue-700 px-3 py-1 rounded-full font-bold align-middle ml-2">Teacher Panel</span>
        {% endif %}
    </h1>

    {% if user.is_staff %}
        {% include 'dashboard_teacher.html' %}
    {% else %}
        {% include 'dashboard_student.html' %}
    {% endif %}

</div>
{% endblock %}